/.env
node_modules
polyfills/Intl/~locale/**/detect.js
polyfills/Intl/~locale/**/tests.js
polyfills/Intl/~locale/**/polyfill.js
polyfills/Intl/~locale/**/config.toml
polyfills/Intl/PluralRules/~locale/**/detect.js
polyfills/Intl/PluralRules/~locale/**/tests.js
polyfills/Intl/PluralRules/~locale/**/polyfill.js
polyfills/Intl/PluralRules/~locale/**/config.toml
polyfills/Intl/NumberFormat/~locale/**/detect.js
polyfills/Intl/NumberFormat/~locale/**/tests.js
polyfills/Intl/NumberFormat/~locale/**/polyfill.js
polyfills/Intl/NumberFormat/~locale/**/config.toml
polyfills/Intl/RelativeTimeFormat/~locale/**/detect.js
polyfills/Intl/RelativeTimeFormat/~locale/**/tests.js
polyfills/Intl/RelativeTimeFormat/~locale/**/polyfill.js
polyfills/Intl/RelativeTimeFormat/polyfill.js
polyfills/Intl/RelativeTimeFormat/~locale/**/config.toml
polyfills/Intl/ListFormat/~locale/**/detect.js
polyfills/Intl/ListFormat/~locale/**/tests.js
polyfills/Intl/ListFormat/~locale/**/polyfill.js
polyfills/Intl/ListFormat/polyfill.js
polyfills/Intl/ListFormat/~locale/**/config.toml
polyfills/Intl/DisplayNames/~locale/**/detect.js
polyfills/Intl/DisplayNames/~locale/**/tests.js
polyfills/Intl/DisplayNames/~locale/**/polyfill.js
polyfills/Intl/DisplayNames/polyfill.js
polyfills/Intl/DisplayNames/~locale/**/config.toml
polyfills/__dist/
polyfills/~html5-elements/polyfill.js
polyfills/AudioContext/polyfill.js
polyfills/EventSource/polyfill.js
polyfills/HTMLPictureElement/polyfill.js
polyfills/Intl/detect.js
polyfills/Intl/polyfill.js
polyfills/Intl/PluralRules/polyfill.js
polyfills/Intl/NumberFormat/polyfill.js
polyfills/JSON/polyfill.js
polyfills/MutationObserver/polyfill.js
polyfills/ResizeObserver/polyfill.js
polyfills/UserTiming/polyfill.js
polyfills/WebAnimations/polyfill.js
polyfills/_TypedArray/polyfill.js
polyfills/atob/polyfill.js
polyfills/fetch/polyfill.js
polyfills/HTMLTemplateElement/polyfill.js
.nyc_output/
polyfills/String/prototype/normalize/polyfill.js
polyfills/AbortController/polyfill.js
polyfills/smoothscroll/polyfill.js
local.log
test/polyfills/compat.json
test/polyfills/results-all.json
test/polyfills/results-control.json
