/.env
node_modules
polyfills/__dist/
polyfills/~html5-elements/polyfill.js
polyfills/AudioContext/polyfill.js
# polyfills/EventSource/polyfill.js
polyfills/HTMLPictureElement/polyfill.js
polyfills/JSON/polyfill.js
polyfills/MutationObserver/polyfill.js
polyfills/ResizeObserver/polyfill.js
polyfills/UserTiming/polyfill.js
polyfills/WebAnimations/polyfill.js
polyfills/ArrayBuffer/polyfill.js
polyfills/atob/polyfill.js
polyfills/fetch/polyfill.js
polyfills/HTMLTemplateElement/polyfill.js
.nyc_output/
polyfills/String/prototype/normalize/polyfill.js
polyfills/AbortController/polyfill.js
polyfills/smoothscroll/polyfill.js
local.log
test/polyfills/compat.json
test/polyfills/results-*.json
# polyfills/TextEncoder/polyfill.js
