name: Lint
on:
  push:
    branches:
      - '*'
      - '**'
      - '!master'
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2.1.3
      with:
        node-version: 12.x
    - run: npm ci
    - run: npm run build
    - run: npm run lint
