name: Test Polyfills Exhaustive
on:
  push:
    branches:
      - main
  workflow_dispatch:

concurrency:
  group: browserstack
  cancel-in-progress: false

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 1
      fail-fast: false
      matrix:
        browser:
        - ie
        - android
        - chrome/1 - 50
        - chrome/51 - 100
        - chrome/>= 101
        - edge
        - firefox/1 - 50
        - firefox/51 - 100
        - firefox/>= 101
        - ios
        - safari

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 1


      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: 24
          cache: 'npm'

      - name: env
        run: echo "commit-sha=$(echo ${GITHUB_SHA})" >> $GITHUB_ENV

      - run: npm ci

      - name: cache __dist
        id: cache-dist
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: polyfills/__dist
          key: cache--dist--${{ env.commit-sha }}

      - run: npm run build
        if: steps.cache-dist.outputs.cache-hit != 'true'

      - name: Test ${{ matrix.browser }}
        run: node ./test/polyfills/server.js & node ./test/polyfills/remotetest.js
          test-polyfill-combinations targeted director browser="${{ matrix.browser }}"
        timeout-minutes: 45
        env:
          BROWSERSTACK_USERNAME: ${{ secrets.BROWSERSTACK_USERNAME }}
          BROWSERSTACK_ACCESS_KEY: ${{ secrets.BROWSERSTACK_ACCESS_KEY }}
