name: Unit Test
on:
  merge_group:
  pull_request:
jobs:
  unit-test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node: [18, 20, 22, 24]
        include:
        - node: 18
          older_node_version: true
        - node: 20
          older_node_version: true
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 1
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: ${{ matrix.node }}
          cache: 'npm'
      - run: npm ci
      - run: npm run build

      - run: npm run test-older-node
        if: ${{ (matrix.older_node_version) }}

      - run: npm run test
        if: ${{ !(matrix.older_node_version) }}
