aliases = [
  "Intl",
  "Intl.DateTimeFormat.prototype.formatToParts"
]
dependencies = [ 
  "Array.isArray",
  "Array.prototype.filter",
  "Array.prototype.indexOf",
  "Array.prototype.lastIndexOf",
  "Array.prototype.map",
  "Array.prototype.reduce",
  "Date.now",
  "Intl.getCanonicalLocales", 
  "Intl.Locale",
  "Intl.NumberFormat",
  "Object.assign",
  "Object.create",
  "Object.keys",
  "Object.setPrototypeOf",
  "Set",
  "WeakMap"
]
license = "MIT"
spec = "https://tc39.es/ecma402/#datetimeformat-objects"
repo = "https://github.com/formatjs/formatjs/tree/master/packages/intl-datetimeformat"
docs = "https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Intl/DateTimeFormat"
notes = [
  "Locales must be specified separately by prefixing the locale name with `Intl.DateTimeFormat.~locale`, eg `Intl.DateTimeFormat.~locale.en-GB`."
]

[browsers]
android = "*"
ie = "9 - *"
ie_mob = "9 - *"
edge = "<71"
edge_mob = "<71"
firefox = "<51"
opera = "*"
chrome = "<71"
safari = "<11"
ios_saf = "<11"
firefox_mob = "*"
samsung_mob = "*"

[install]
module = "@formatjs/intl-datetimeformat"
paths = [ "polyfill.umd.js" ]
postinstall = "update.task.js"
clean = [
  "~locale",
  "polyfill.js",
]
